<<<<<<< HEAD
body{
    margin:0;
    padding: 0;
    overflow: hidden;    
}


canvas{
    background-color: aliceblue;
=======
body{
    margin:0;
    padding: 0;
    overflow: hidden;    
}


canvas{
    background-color: aliceblue;
>>>>>>> 2b64b1abfda69878bff84737786c0c017c3a1bcd
}